body{
    background-color:black;
}
ul{
    background-color: black;
    list-style: none;
    height: 9vh;
    width: 100%;
    
}

ul>li{
    display: inline-block;
    width: 3%;
    padding-top: 1.5%;
    font-family:Verdana;
    margin-left: 8%;
    
}
ul a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
ul a:hover{
    text-decoration: none;
    text-transform: uppercase;
    color:greenyellow;
    }
   ul img{
        position: absolute;
        height: auto;
        width: 6%;
         left:0.5%;
        margin-top: 0.5%;
    }
    .bottom-left{
        position: relative;
        bottom: 0%;
        width: 100%;
        
      
        
     }
     .bottom-left div{
        text-align: center;
        bottom: 0%;
        padding: 7%;
         height: 11vh;
        color: #ffffff;
         background-color: #000000;
     }
     #header{
         margin-bottom: 0px;
     }
   
  
          /* Add styles to the form container */
          .container {
            position: absolute;
            right: 0;
            margin: 20px;
            max-width: 300px;
            padding: 15px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: transparent;
            padding-top: 1%;
            color: #ddd;
           right: 2%;
          }
          
          /* Full-width input fields */
            input[type=email], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
          }
          
          input[type=email]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
          }
          
          /* Set a style for the submit button */
          .btn {
            background-color: #c93e3e;
            background-attachment: fixed;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9
          }
          
          .btn:hover {
            opacity: 5;
          }
          .bg-img img {
              width: 10%;
              height: 90%;
              margin-left: 80%
          }
          .container2{
              width: 10%;
              height: 20%;
              margin: auto;
              border: 5px solid;
              color: white;
              background-color: #000000;
              
          }
        